.topbar-middle-content {
  color: black;
  padding: 15px;
  background-color: #f4f6f9;
  min-height: 100vh;
}
.topbar-middle-content h3 {
  padding-left: 7px;
}
.table-wrapper {
  overflow-x: auto;
}
.table th,
.table td {
  white-space: nowrap;
}
/* Responsive CSS of Main Section topbar-middile-content */
@media (max-width: 992px) {
  .topbar-middle-content {
    padding: 18px;
  }
  .table th,
  .table td {
    font-size: 15px;
    padding: 15px !important;
  }
  .table .btn {
    font-size: 12px;
    padding: 5px 8px;
  }
}
@media (max-width: 768px) {
  .topbar-middle-content {
    padding: 15px;
  }
  .topbar-middle-content h3 {
    font-size: 26px;
    padding-left: 0;
    margin-bottom: 15px;
  }
  .table {
    min-width: 900px;
  }
  .table th,
  .table td {
    font-size: 14px;
    padding: 14px !important;
  }
  .table .btn {
    font-size: 13px;
    padding: 5px 8px;
  }
}
@media (max-width: 576px) {
  .topbar-middle-content {
    padding: 12px;
  }
  .topbar-middle-content h3 {
    font-size: 24px;
  }
  .table {
    min-width: 900px;
  }
  .table th,
  .table td {
    font-size: 13px;
    padding: 12px !important;
  }
  .table .btn {
    font-size: 12px;
    padding: 4px 7px;
  }
}
@media (max-width: 400px) {
  .topbar-middle-content {
    padding: 10px;
  }
  .topbar-middle-content h3 {
    font-size: 22px;
    padding-left: 5px;
  }
  .table {
    min-width: 900px;
  }
  .table th,
  .table td {
    font-size: 12px;
    padding: 10px !important;
  }
  .table .btn {
    font-size: 11px;
    padding: 3px 6px;
  }
  /* .modal-header{
        padding:12px 15px;
    }
    .modal-header h5{
        font-size:18px;
    }
    .modal-body{
        padding:18px 16px;
    }
    .modal-body p{
        font-size:15px;
        margin-bottom:14px;
        word-break: break-word;
    } */
}
